<div id="breadcrumb-lista-produtos" class="bread col-sm-12 col-md-12 align_center">
    <div class="active"><div class="num_bread"><img class="img-responsive" alt="Icone Escolha de Produtos" src="//cdn.shopify.com/s/files/1/0010/3150/3987/t/43/assets/bread_1.png" /></div> <div class="display-steps-mobile-none">Escolha seus produtos</div></div>
    <div class="num_bread_active">></div>
    <div><div class="num_bread"><img class="img-responsive" alt="Icone Intervalo de entregas" src="//cdn.shopify.com/s/files/1/0010/3150/3987/t/43/assets/bread_2.png" /></div> <div class="display-steps-mobile-none">Intervalo de entregas</div></div>
    <div>></div>
    <div class="bread-step3"><div class="num_bread"><img class="img-responsive" alt="Icone Confirmar e Finalizar" src="//cdn.shopify.com/s/files/1/0010/3150/3987/t/43/assets/bread_3-1.png" /></div> <div class="display-steps-mobile-none">Confirmar e finalizar</div></div>
</div>
<div class="col-xs-12 bread_line margin_b_20"></div>