<div class="container">
  <div class="col-12">
      <div class="section-header text-center">
        <h1 class="c_blue margin_b_20">{{ page.title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="" id="duvidas_frequentes">
  <div class="card card-body">
    <div id="faqprehome" class="overflow bg_cinza">
      <div class="container">
        <div class="row">
          <div class="title margin_b_30 col-12 hide align_center">
            <p>Perguntas frequentes</p>
            <p class="lato_regular f14">Precisa de ajuda?</p>
            <button type="submit" class="button btn btn-default" id="btn-saibamais">Clique aqui e saiba mais</button>
          </div>
          <div class="col-12">
            <div id="accordion" class="accordion_faq">
              <div class="card">
                  <div class="card-header" id="headingOne">
                  <h5 class="mb-0 margin_r_15">
                      <button class="btn btn-link accordion-button collapsed" data-toggle="collapse" data-target="#pergunta_1" aria-expanded="true" aria-controls="collapseOne">
                        O que é o Parceiro Ambev? 
                      </button>
                  </h5>
                  </div>

                  <div id="pergunta_1" class="collapse pergunta" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        O Parceiro Ambev é o canal de vendas on-line da Ambev. Ele oferece uma experiência personalizada e uma ampla gama de serviços. Nele, você pode abastecer seu estoque a qualquer hora realizando pedidos de forma prática e rápida, acompanhar a entrega em tempo real e ainda ter acesso a informações como histórico de compra, realizar solicitações de 2º via de boleto e muito mais. Clique aqui e veja todas as vantagens que o Parceiro oferece.
                      </div>
                  </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0 margin_r_15">
                      <button class="btn btn-link accordion-button collapsed" data-toggle="collapse" data-target="#pergunta_2" aria-expanded="true" aria-controls="collapseOne">
                        O que é o Parceiro Ambev? 
                      </button>
                  </h5>
                </div>

                <div id="pergunta_2" class="collapse pergunta" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      O Parceiro Ambev é o canal de vendas on-line da Ambev. Ele oferece uma experiência personalizada e uma ampla gama de serviços. Nele, você pode abastecer seu estoque a qualquer hora realizando pedidos de forma prática e rápida, acompanhar a entrega em tempo real e ainda ter acesso a informações como histórico de compra, realizar solicitações de 2º via de boleto e muito mais. Clique aqui e veja todas as vantagens que o Parceiro oferece.
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 margin_r_15">
                        <button class="btn btn-link accordion-button collapsed" data-toggle="collapse" data-target="#pergunta_3" aria-expanded="true" aria-controls="collapseOne">
                          O que é o Parceiro Ambev? 
                        </button>
                    </h5>
                </div>

                <div id="pergunta_3" class="collapse pergunta" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      O Parceiro Ambev é o canal de vendas on-line da Ambev. Ele oferece uma experiência personalizada e uma ampla gama de serviços. Nele, você pode abastecer seu estoque a qualquer hora realizando pedidos de forma prática e rápida, acompanhar a entrega em tempo real e ainda ter acesso a informações como histórico de compra, realizar solicitações de 2º via de boleto e muito mais. Clique aqui e veja todas as vantagens que o Parceiro oferece.
                    </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 margin_r_15">
                        <button class="btn btn-link accordion-button collapsed" data-toggle="collapse" data-target="#pergunta_4" aria-expanded="true" aria-controls="collapseOne">
                          O que é o Parceiro Ambev? 
                        </button>
                    </h5>
                </div>

                <div id="pergunta_4" class="collapse pergunta" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      O Parceiro Ambev é o canal de vendas on-line da Ambev. Ele oferece uma experiência personalizada e uma ampla gama de serviços. Nele, você pode abastecer seu estoque a qualquer hora realizando pedidos de forma prática e rápida, acompanhar a entrega em tempo real e ainda ter acesso a informações como histórico de compra, realizar solicitações de 2º via de boleto e muito mais. Clique aqui e veja todas as vantagens que o Parceiro oferece.
                    </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 margin_r_15">
                        <button class="btn btn-link accordion-button collapsed" data-toggle="collapse" data-target="#pergunta_5" aria-expanded="true" aria-controls="collapseOne">
                          O que é o Parceiro Ambev? 
                        </button>
                    </h5>
                </div>

                <div id="pergunta_5" class="collapse pergunta" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      O Parceiro Ambev é o canal de vendas on-line da Ambev. Ele oferece uma experiência personalizada e uma ampla gama de serviços. Nele, você pode abastecer seu estoque a qualquer hora realizando pedidos de forma prática e rápida, acompanhar a entrega em tempo real e ainda ter acesso a informações como histórico de compra, realizar solicitações de 2º via de boleto e muito mais. Clique aqui e veja todas as vantagens que o Parceiro oferece.
                    </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0 margin_r_15">
                        <button class="btn btn-link accordion-button collapsed" data-toggle="collapse" data-target="#pergunta_6" aria-expanded="true" aria-controls="collapseOne">
                          O que é o Parceiro Ambev? 
                        </button>
                    </h5>
                </div>

                <div id="pergunta_6" class="collapse pergunta" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      O Parceiro Ambev é o canal de vendas on-line da Ambev. Ele oferece uma experiência personalizada e uma ampla gama de serviços. Nele, você pode abastecer seu estoque a qualquer hora realizando pedidos de forma prática e rápida, acompanhar a entrega em tempo real e ainda ter acesso a informações como histórico de compra, realizar solicitações de 2º via de boleto e muito mais. Clique aqui e veja todas as vantagens que o Parceiro oferece.
                    </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
